# Operating System
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env
.env.*

# Node
node_modules/

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp

# Editor backup files
*.swp
*.swo